<section [class]="classNames.container">
  <div class="flex justify-center mb-4 gap-4">
    <app-search-component
      class="w-1/2"
      [(search)]="searchText"
      [placeholder]="'Search by Phone number'"
    ></app-search-component>
    <button
      [class]="classNames.buttonPrimary + ' cursor-pointer'"
      (click)="showCreateForm.set(true)"
    >
      Create Invoice
    </button>
  </div>

  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b border-gray-200">Invoice Number</th>
        <th class="py-2 px-4 border-b border-gray-200">Client Name</th>
        <th class="py-2 px-4 border-b border-gray-200">Total Amount</th>
        <th class="py-2 px-4 border-b border-gray-200">Clothes</th>
        <th class="py-2 px-4 border-b border-gray-200">Payment</th>
        <th class="py-2 px-4 border-b border-gray-200">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (invoice of invoices(); track invoice.id) {
        <tr class="hover:bg-gray-100 cursor-pointer" (click)="onSelectedInvoiceChange(invoice.id)">
          <td class="py-2 px-4 border-b border-gray-200">{{ invoice.client.phone_number }}</td>
          <td class="py-2 px-4 border-b border-gray-200">
            {{ invoice.client.name }}
          </td>
          <td class="py-2 px-4 border-b border-gray-200">{{ invoice.amount | currency }}</td>
          <td class="py-2 px-4 border-b border-gray-200">
            <select
              class="ml-2 border border-gray-300 rounded px-2 py-1 focus:outline-none"
              (change)="setClothesStatus($event, invoice.id)"
              [value]="invoice.clothes_status"
            >
              <option value="cleaned">Cleaned</option>
              <option value="not_cleaned">Not Cleaned</option>
            </select>
          </td>
          <td class="py-2 px-4 border-b border-gray-200">
            <span
              class="px-2 py-0.5 rounded text-sm font-medium"
              [class]="
                invoice.status === 'paid'
                  ? 'bg-green-100 text-green-700'
                  : invoice.status === 'partial_paid'
                    ? 'bg-orange-100 text-orange-700'
                    : 'bg-red-100 text-red-700'
              "
            >
              {{ invoice.status }}
            </span>
          </td>
          <td class="py-2 px-4 border-b border-gray-200">
            @if (userService.getUserRole().toLowerCase() === 'admin' && invoice.id) {
              <button
                [class]="classNames.buttonDanger + ' ml-2'"
                (click)="deleteInvoice(invoice.id); $event.stopPropagation()"
              >
                Delete
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>

  <ng-template #noInvoices>
    <div class="text-center text-gray-500 mt-8">
      No invoices found. Please create an invoice to get started.
    </div>
  </ng-template>

  <!-- Create Invoice Form -->
  @if (showCreateForm()) {
    <app-create-invoice
      (closeForm)="showCreateForm.set(false)"
      [currentUserId]="invoiceID()"
    ></app-create-invoice>
  }

  <!-- Invoice Details -->
  @if (invoiceID()) {
    <app-invoice-details [invoiceID]="invoiceID()"></app-invoice-details>
  }
</section>
